@page
@model IndexModel
@{
    ViewData["Title"] = "Lost And Found";
}

<div class="text-center">
    <h1 class="display-4">Lost And Found</h1>
    <p>世の中から忘れ物を限りなく見つけられるようにするのを手助けするプロジェクト。</p>
    <p>交通機関、警察、親切な人を繋げて、大切な物を送り届けること</p>
</div>
