@page
@model LostAndFound.Pages.Items.CreateModel
@{ ViewData["Title"] = "Create"; }
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ }

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.Title" class="control-label"></label>
                <input asp-for="Item.Title" class="form-control" />
                <span asp-validation-for="Item.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label"></label>
                <input asp-for="Item.Description" class="form-control" />
                <span asp-validation-for="Item.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.PhotoPass" class="control-label"></label>
                <input asp-for="Item.PhotoPass" class="form-control" />
                <div>ファイルのアップロード<input type="file" asp-for="FileData" /></div>
                <span asp-validation-for="Item.PhotoPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Longitude" class="control-label"></label>
                <input asp-for="Item.Longitude" class="form-control" />
                <span asp-validation-for="Item.Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Latitude" class="control-label"></label>
                <input asp-for="Item.Latitude" class="form-control" /><button onclick="getMyPlace()">現在位置を取得</button>
                <span asp-validation-for="Item.Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div id="map-canvas">ここにマップが表示されます</div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
<script>function getMyPlace() {
        var outputLongitude = document.getElementById("Item_Longitude");
        var outputLatitude = document.getElementById("Item_Latitude");

        if (!navigator.geolocation) {//Geolocation apiがサポートされていない場合
            outputLongitude.innerHTML = '<p>Geolocationはあなたのブラウザーでサポートされておりません</p>';
            return;
        }
        function success(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            outputLatitude.value = latitude;
            outputLongitude.value = longitude;
            // 位置情報
            var latlng = new google.maps.LatLng(latitude, longitude);
            var map = new google.maps.Map(document.getElementById('map-canvas'), {
                zoom: 15,// ズーム値
                center: latlng,// 中心座標
            });
            // マーカーの新規出力
            new google.maps.Marker({
                map: map,
                position: latlng,
            });
        };
        function error() {
            //エラーの場合
            output.innerHTML = "座標位置を取得できません";
        };
        navigator.geolocation.getCurrentPosition(success, error);//成功と失敗を判断
    }
    $(function () {
        $('input[type=file]').after('<span></span>');

        // アップロードするファイルを選択
        $('input[type=file]').change(function () {
            var file = $(this).prop('files')[0];

            // 画像以外は処理を停止
            if (!file.type.match('image.*')) {
                // クリア
                $(this).val('');
                $('span').html('');
                return;
            }

            // 画像表示
            var reader = new FileReader();
            reader.onload = function () {
                var img_src = $('<img>').attr('src', reader.result);
                $('span').html(img_src);
            }
            reader.readAsDataURL(file);
        });
    });</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
